/* style.css */
.topbar{
      /* background: #000;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
      padding: 10px;
      

}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .buttons-container .ui.button {
    margin: 0 10px;
  }
  
  .toast-container {
    position: fixed;
    top: 150px;
    left: 40%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .btn{
    color: white;
    background: #754848;
    margin-left: 10px;
  }
  .btn:hover{
    background: gray;
  }
  
  @keyframes moveLeftToRight {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(200px); 
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .welcome-msg {
    margin-top: 150px;
    padding: 10px;
    width: 500px;
    font-size: xx-large;
    background-image: linear-gradient(to right, #dc1d1d 20%, #4db52e 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    animation: moveLeftToRight 5s infinite; /* Adjust the duration as needed */
  }
  
  @keyframes shadowAnimation {
    from {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    to {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    }
  }
   
@media (max-width: 768px) {
.topbar{
  background: whitesmoke;
  margin-left: 50px;
  width: 100%;
  padding: 10px;
}
.deletecontainer{
  /* background: #000; */
position: fixed;
top: 300px;
}
.welcome-msg {
  margin-left: 100px;
  width: 500px;
  font-size: xx-large;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
  animation: shadowAnimation 2s infinite alternate; 
}


@keyframes shadowAnimation {
  from {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  to {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  }
}
}